<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport  -->
<!-- -->
<configuration>
	<property name="LOG_PATH" value="APPS_LOGS/NewsScraperSearch" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-40(%d{ISO8601} [%thread:%X{SID}]) %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/application.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/application-%d{dd-MM-yyyy}_%d{HH:mm
				,aux}.%i.zip</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<!--<maxHistory>60</maxHistory> -->
			<!--<totalSizeCap>1GB</totalSizeCap> -->
		</rollingPolicy>
		<encoder>
			<Pattern>%-40(%d{ISO8601} [%thread:%X{SID}]) %-5level - %msg%n
			</Pattern>
		</encoder>
	</appender>
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>500</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="ROLLING" />
	</appender>
	<logger name="org.springframework" level="INFO" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.logback" level="INFO" />
	<root level="INFO">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
